
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-14-wim {
  width: 100%;
  height: 91rem;
  position: relative;
  overflow: hidden;
  background-color: #d7dac9;
}
.frame-14-wim .rectangle-47-HXj {
  width: 63.4rem;
  height: 45.7rem;
  position: absolute;
  left: 106.6rem;
  top: 28.9rem;
  background-color: rgba(52, 48, 48, 0.3400000036);
}
.frame-14-wim .contact-us-pGm {
  width: 48.3rem;
  height: 12.1rem;
  position: absolute;
  left: 114.95rem;
  top: 14.6rem;
  text-align: center;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.48rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-14-wim .dial-1912-W9b {
  width: 22.1rem;
  height: 6.1rem;
  position: absolute;
  left: 126.6rem;
  top: 31.2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-14-wim .dial-1912-from-any-phone-within-sri-lanka-to-access-tourism-information-sri-lanka-tourism-head-office-94-112426900-94-112-440001-2426984-no-80-galle-road-colombo-03-sri-lanka-Qkm {
  width: 50.8rem;
  height: 28.7rem;
  position: absolute;
  left: 113.85rem;
  top: 37.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
}
.frame-14-wim .dial-1912-from-any-phone-within-sri-lanka-to-access-tourism-information-sri-lanka-tourism-head-office-94-112426900-94-112-440001-2426984-no-80-galle-road-colombo-03-sri-lanka-Qkm .dial-1912-from-any-phone-within-sri-lanka-to-access-tourism-information-sri-lanka-tourism-head-office-94-112426900-94-112-440001-2426984-no-80-galle-road-colombo-03-sri-lanka-Qkm-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
}
.frame-14-wim .dial-1912-from-any-phone-within-sri-lanka-to-access-tourism-information-sri-lanka-tourism-head-office-94-112426900-94-112-440001-2426984-no-80-galle-road-colombo-03-sri-lanka-Qkm .dial-1912-from-any-phone-within-sri-lanka-to-access-tourism-information-sri-lanka-tourism-head-office-94-112426900-94-112-440001-2426984-no-80-galle-road-colombo-03-sri-lanka-Qkm-sub-1 {
}
.frame-14-wim .rectangle-46-hG1 {
  width: 75rem;
  height: 91rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 103.016%;
  background-position: 0 -1.3721rem;
  background-image: url('../rectangle-46.png');
}
.frame-14-wim .frame-7-QRK {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 126.6rem;
  top: 76.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-14-wim .frame-8-wRF {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 134.3rem;
  top: 76.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-14-wim .frame-9-fs3 {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 141.9rem;
  top: 76.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-14-wim .frame-10-bkh {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 149.6rem;
  top: 76.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-14-wim .sl-tourismore-website-all-rights-reserved-wJm {
  width: 52.7rem;
  height: 2.7rem;
  position: absolute;
  left: 69.65rem;
  top: 87.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
