
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-11-keh {
  box-sizing: border-box;
  padding: 8.7rem 8.5rem 1.2rem 8.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-11-keh .must-see-attractions-for-your-itinerary-4QV {
  margin: 0rem 74.2rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.48rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu {
  margin: 0rem 7.3rem 17.6rem 7.4rem;
  width: calc(100% - 14.7rem);
  height: 66.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd {
  box-sizing: border-box;
  padding-right: 1.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-9yph-nzh {
  margin-right: 1.7rem;
  width: 25.3rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-9yph-nzh .rectangle-17-j9F {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 221.712% 100%;
  background-position: -8.451rem -0rem;
  background-image: url('../rectangle-17.png');
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-9yph-nzh .rectangle-28-cyj {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.1rem;
  background-color: rgba(147, 109, 82, 0.4900000095);
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-9yph-nzh .immerse-in-yala-sri-lankas-second-vastest-park-lush-greenery-teems-with-wildlife-while-whispers-of-past-civilizations-linger-in-ancient-ruins-embark-on-a-safari-spot-unique-creatures-and-explore-historys-footprints-uncover-the-wild-within-Luj {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0.45rem;
  top: 37.5rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-ruff-8Ko {
  width: 25.3rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-ruff-8Ko .rectangle-18-soB {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 262.802% 100%;
  background-position: -28.2524rem 0rem;
  background-image: url('../rectangle-18.png');
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-ruff-8Ko .rectangle-27-aSh {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.1rem;
  background-color: rgba(39, 92, 29, 0.5600000024);
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-4zwq-TSd .auto-group-ruff-8Ko .sigiriyas-iconic-rock-fortress-reigns-over-sri-lankas-center-with-nearby-dambullas-cave-temples-and-pidurangalas-scenic-climbs-adding-ancient-whispers-and-breathtaking-views-Jdb {
  width: 24.4rem;
  height: 18.7rem;
  position: absolute;
  left: 0.5rem;
  top: 39.7rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-uptr-KYh {
  width: 25.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-uptr-KYh .rectangle-19-s4R {
  margin-bottom: 0.1rem;
  width: 25.3rem;
  height: 37.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-uptr-KYh .auto-group-pkxb-QKF {
  box-sizing: border-box;
  padding: 0 0.1rem;
  width: 100%;
  height: 29.2rem;
  background-color: rgba(254, 186, 0, 0.3799999952);
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-uptr-KYh .auto-group-pkxb-QKF .arugam-bays-crescent-beach-is-paradise-perfect-for-surfing-or-simply-letting-time-slip-away-under-swaying-palms-while-fishermen-work-diligently-by-the-south-end-evenings-bring-locals-together-for-chat-and-a-tranquil-paddle-come-for-the-waves-stay-for-the-soul-soothing-vibes-x5s {
  max-width: 25.1rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  color: #080808;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV {
  box-sizing: border-box;
  padding-left: 1.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-c4ds-UyK {
  margin-right: 1.65rem;
  width: 25.3rem;
  height: 66.5rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-c4ds-UyK .rectangle-20-EBo {
  width: 25.3rem;
  height: 37.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-c4ds-UyK .rectangle-25-mhX {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.3rem;
  background-color: rgba(61, 49, 47, 0.5199999809);
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-c4ds-UyK .horton-plains-soars-between-mighty-peaks-boasting-jaw-dropping-worlds-end-cliffs-and-a-whispering-waterfall-packed-with-diverse-life-rivers-and-hidden-gems-this-highland-park-brims-with-magic-uYq {
  width: 25.3rem;
  height: 22.4rem;
  position: absolute;
  left: 0;
  top: 39.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-bbph-8Ah {
  margin-right: 1.7rem;
  width: 25.35rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-bbph-8Ah .rectangle-21-fgR {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0.05rem;
  top: 0;
  background-size: 221.739% 100%;
  background-position: -16.4686rem -0rem;
  background-image: url('../rectangle-21.png');
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-bbph-8Ah .rectangle-24-AdB {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0.05rem;
  top: 37.1rem;
  background-color: rgba(244, 185, 125, 0.5799999833);
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-bbph-8Ah .for-three-centuries-polonnaruwa-was-a-royal-capital-of-both-the-chola-and-sinhalese-kingdoms-todays-archaeological-park-is-a-delight-to-explore-with-hundreds-of-ancient-structures-tombs-and-temples-statues-and-stupas-in-a-sprawling-forested-core-Hxh {
  width: 25.2rem;
  height: 28rem;
  position: absolute;
  left: 0;
  top: 37.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-wipd-tBo {
  width: 25.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-wipd-tBo .rectangle-22-RhX {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  background-size: 262.802% 100%;
  background-position: -27.0058rem -0rem;
  background-image: url('../rectangle-22.png');
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-wipd-tBo .auto-group-2fjt-KY1 {
  box-sizing: border-box;
  padding: 2.3rem 1.45rem;
  width: 100%;
  height: 28.9rem;
  background-color: rgba(64, 126, 173, 0.4699999988);
  flex-shrink: 0;
}
.frame-11-keh .auto-group-qgg5-Lcu .auto-group-i3ed-wiV .auto-group-wipd-tBo .auto-group-2fjt-KY1 .whale-and-dolphin-watching-in-mirissa-is-one-of-the-most-exciting-water-activities-you-can-do-during-your-holiday-in-sri-lanka-3iu {
  max-width: 22.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-hdrx-tzR {
  margin: 0rem 7.3rem 7.4rem 7.4rem;
  width: calc(100% - 14.7rem);
  height: 66.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF {
  box-sizing: border-box;
  padding-right: 1.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-zccm-m2d {
  margin-right: 1.7rem;
  width: 25.3rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-zccm-m2d .rectangle-29-hgy {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 221.712% 100%;
  background-position: -3.8147rem 0.2727rem;
  background-image: url('../rectangle-29.png');
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-zccm-m2d .rectangle-40-nyK {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.1rem;
  background-color: rgba(57, 68, 30, 0.6399999857);
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-zccm-m2d .built-in-1921-the-nine-arches-bridge-or-bridge-in-the-sky-soared-from-local-bridge-to-instagram-darling-becoming-ellas-most-iconic-landmark-this-colonial-masterpiece-now-draws-crowds-eager-to-capture-its-grandeur-amidst-lush-sri-lankan-hills-Xvu {
  width: 24.7rem;
  height: 24rem;
  position: absolute;
  left: 0.1rem;
  top: 37.5rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-hgyk-vTF {
  width: 25.3rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-hgyk-vTF .rectangle-34-ffj {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 262.802% 100%;
  background-position: -16.798rem -0.2727rem;
  background-image: url('../rectangle-34.png');
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-hgyk-vTF .rectangle-39-yRX {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.1rem;
  background-color: rgba(87, 105, 25, 0.6499999762);
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-nway-1ZF .auto-group-hgyk-vTF .soaring-2243-meters-in-sri-lankas-heart-adams-peak-isnt-just-the-islands-seventh-tallest-mountain-its-a-sacred-icon-worshipped-by-all-faiths-for-the-footprint-it-bears-atop-this-majestic-peak-draws-pilgrims-and-trekkers-alike-captivated-by-its-beauty-and-challenging-climb-upy {
  width: 24.8rem;
  height: 26.6rem;
  position: absolute;
  left: 0.5rem;
  top: 37.5rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-jrr7-6eZ {
  width: 25.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-jrr7-6eZ .rectangle-33-Ekm {
  margin-bottom: 0.1rem;
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  background-size: 135.07% 100%;
  background-position: -6.3454rem 0;
  background-image: url('../rectangle-33.png');
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-jrr7-6eZ .auto-group-cn5t-YmT {
  box-sizing: border-box;
  padding: 2.2rem 0.8rem;
  width: 100%;
  height: 29.2rem;
  background-color: rgba(72, 59, 23, 0.5899999738);
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-jrr7-6eZ .auto-group-cn5t-YmT .km-from-colombo-udawalawe-park-sri-lankas-6th-wildlife-gem-awaits-join-herds-of-elephants-buffalo-deer-and-monkeys-on-a-jeep-safari-leopards-are-shy-but-cameras-ready-for-all-VRo {
  max-width: 23.7rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  color: #080808;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq {
  box-sizing: border-box;
  padding-left: 1.7rem;
  height: 100%;
  display: flex;
  column-gap: 1.7rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-8jzh-G5B {
  width: 25.3rem;
  height: 66.5rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-8jzh-G5B .rectangle-32-Qx5 {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 129.273% 100%;
  background-position: -7.2485rem 0;
  background-image: url('../rectangle-32.png');
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-8jzh-G5B .rectangle-37-jDf {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.3rem;
  background-color: rgba(220, 193, 177, 0.7200000286);
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-8jzh-G5B .in-dambulla-sri-lanka-the-dambulla-cave-temples-reign-supreme-not-just-sacred-and-historic-these-wonders-hold-an-irresistible-secret-they-dwell-within-caves-drawing-tourists-seeking-an-awe-inspiring-blend-of-nature-and-devotion-rp5 {
  width: 25.2rem;
  height: 25.2rem;
  position: absolute;
  left: 0.05rem;
  top: 39.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-m3hp-UKf {
  width: 25.3rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-m3hp-UKf .rectangle-31-26H {
  width: 25.3rem;
  height: 37.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 221.739% 100%;
  background-position: -11.0141rem -0rem;
  background-image: url('../rectangle-31.png');
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-m3hp-UKf .rectangle-36-wDF {
  width: 25.3rem;
  height: 29.2rem;
  position: absolute;
  left: 0;
  top: 37.1rem;
  background-color: rgba(149, 99, 73, 0.5600000024);
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-m3hp-UKf .the-koggala-sea-turtle-farm-rescues-injured-turtles-and-buys-poached-eggs-offering-sanctuary-and-releasing-hatchlings-while-hands-on-activities-like-touching-raise-concerns-dedicated-staff-share-their-knowledge-about-these-amazing-creatures-UDB {
  width: 25rem;
  height: 25.2rem;
  position: absolute;
  left: 0.05rem;
  top: 37.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-ezmj-rjX {
  width: 25.3rem;
  height: 66.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-ezmj-rjX .rectangle-30-16d {
  width: 25.3rem;
  height: 37.5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 108.252% 108.242%;
  background-position: -0.5514rem -2.1818rem;
  background-image: url('../rectangle-30.png');
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-ezmj-rjX .rectangle-35-WZB {
  width: 25.3rem;
  height: 28.9rem;
  position: absolute;
  left: 0;
  top: 37.4rem;
  background-color: rgba(18, 20, 17, 0.4799999893);
}
.frame-11-keh .auto-group-hdrx-tzR .auto-group-hc8d-KQq .auto-group-ezmj-rjX .soaring-129-meters-lakshapana-ella-or-laxapana-falls-ranks-among-sri-lankas-top-ten-waterfalls-in-height-just-9km-west-of-norton-bridge-this-majestic-horsetail-fall-awaits-near-castlereigh-reservoir-eQV {
  width: 22.6rem;
  height: 25.2rem;
  position: absolute;
  left: 2.05rem;
  top: 39.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
}
.frame-11-keh .auto-group-nrjs-GAy {
  box-sizing: border-box;
  padding: 0.1rem 61.15rem 0rem 61.15rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.1rem #000000;
  flex-shrink: 0;
}
