
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-12-Qf7 {
  box-sizing: border-box;
  padding-left: 4.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-12-Qf7 .auto-group-a5js-wQ9 {
  margin-left: 4.5rem;
  width: calc(100% - 4.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-a5js-wQ9 .auto-group-apbf-U9B {
  margin: 5.3rem 11.1rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-a5js-wQ9 .auto-group-apbf-U9B .unveiling-an-island-paradise-197 {
  margin: 0rem 0.1rem 4.7rem 0rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.72rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-a5js-wQ9 .auto-group-apbf-U9B .sri-lanka-island-jewel-wears-natures-crown-verdant-tea-hills-rise-like-jade-waves-whispering-ancient-secrets-in-cool-mountain-mist-below-sapphire-shores-beckon-fringed-with-coconut-palms-and-kissed-by-turquoise-waves-hike-ella-rock-where-panoramic-vistas-unfold-or-lose-yourself-in-horton-plains-where-waterfalls-tumble-through-mossy-glens-surf-mirissas-swells-kayak-mangrove-forests-or-bask-in-arugam-bays-golden-glow-but-sri-lankas-tapestry-holds-more-than-emerald-and-sapphire-climb-sigiriya-a-sky-kissed-fortress-whispering-of-forgotten-kings-explore-anuradhapuras-ruins-echoes-of-a-glorious-past-etched-in-crumbling-grandeur-spiced-aromas-fill-the-air-as-you-savor-a-rice-and-curry-feast-vibrant-colors-explode-in-kandyan-dance-and-monks-whisper-wisdom-in-centuries-old-temples-unveil-sri-lanka-unveil-yourself-feel-the-islands-emerald-embrace-dance-with-its-sapphire-gleam-each-corner-a-discovery-every-thread-a-memory-woven-into-the-tapestry-of-your-adventure-5Ps {
  max-width: 114.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.36rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-a5js-wQ9 .rectangle-42-b9F {
  width: 57.9rem;
  height: 91rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-m6ey-89B {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-m6ey-89B .auto-group-dstw-gRb {
  margin-right: 8.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-m6ey-89B .auto-group-dstw-gRb .pump-up-your-heartbeat-q3b {
  margin: 0rem 8.8rem 4rem 0rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.72rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Khong, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-m6ey-89B .auto-group-dstw-gRb .forget-picture-perfect-beaches-and-lazy-sunsets-sri-lanka-ignites-a-different-kind-of-thrill-this-verdant-island-nation-transforms-into-an-adventurers-playground-brimming-with-heart-pounding-experiences-that-redefine-the-meaning-of-vacation-picture-yourself-battling-roaring-rapids-on-a-white-water-rafting-expedition-adrenaline-coursing-through-your-veins-as-you-conquer-the-kelani-river-or-navigate-the-churning-waters-of-kalu-ganga-for-a-taste-of-gravity-defying-thrills-scale-the-rocky-face-of-sigiriya-an-ancient-fortress-perched-atop-a-lion-shaped-rock-or-dangle-on-a-rope-swing-soaring-through-the-lush-canopy-of-horton-plains-national-park-if-the-earth-beckons-embark-on-invigorating-treks-through-emerald-tea-plantations-past-cascading-waterfalls-and-alongside-majestic-mountains-the-islands-diverse-landscape-offers-trails-for-every-level-from-leisurely-strolls-amidst-paddy-fields-to-challenging-climbs-up-adams-peak-a-pilgrimage-site-with-breathtaking-sunrises-and-what-better-way-to-experience-this-adrenaline-laced-paradise-than-with-the-marvel-sri-lanka-adventure-sport-club-these-local-experts-hold-the-key-to-unlocking-your-inner-daredevil-guiding-you-through-thrilling-white-water-journeys-rappelling-down-dizzying-cliffs-and-challenging-your-mettle-on-exhilarating-rope-jumps-theyll-be-your-compass-your-confidante-and-your-safety-net-ensuring-you-return-from-your-sri-lankan-adventure-with-memories-etched-in-adrenaline-and-a-heart-overflowing-with-the-wild-joy-of-pushing-your-limits-so-ditch-the-sun-loungers-and-trade-pia-coladas-for-pounding-rapids-let-sri-lanka-be-your-crucible-and-the-marvel-sri-lanka-adventure-sport-club-your-guide-as-you-craft-a-vacation-thats-not-just-a-getaway-but-a-transformative-journey-into-the-heart-of-raw-adventure-vqj {
  max-width: 121.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.36rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-m6ey-89B .rectangle-43-WjP {
  width: 57.9rem;
  height: 91rem;
  position: relative;
  background-size: 113.361% 100%;
  background-position: -7.67rem 0;
  background-image: url('../rectangle-43.png');
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-rkdj-1g9 {
  width: 183.5rem;
  height: 91rem;
  position: relative;
  flex-shrink: 0;
}
.frame-12-Qf7 .auto-group-rkdj-1g9 .rectangle-44-A3F {
  width: 57.9rem;
  height: 91rem;
  position: relative;
  left: 125.6rem;
  top: 0;
  background-size: 236.697% 101.387%;
  background-position: -51.3801rem -0.3119rem;
  background-image: url('../rectangle-44.png');
}
.frame-12-Qf7 .auto-group-rkdj-1g9 .sri-lankas-dazzling-dance-of-elephants-3Mw {
  width: 90.7rem;
  height: 6.1rem;
  position: absolute;
  left: 12.05rem;
  top: 5.2rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.288rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-12-Qf7 .auto-group-rkdj-1g9 .magine-a-ten-day-spectacle-in-sri-lankas-heart-where-monsoon-skies-crackle-with-anticipation-witness-elaborately-adorned-elephants-draped-in-crimson-and-gold-as-traditional-dancers-in-vibrant-costumes-twirl-amidst-pulsating-drumbeats-and-fire-jugglers-illuminate-the-night-this-is-the-kandy-esala-perahera-a-mesmerizing-festival-celebrating-the-revered-tooth-relic-of-the-buddha-each-night-the-sacred-casket-carrying-the-tooth-relic-parades-through-kandys-streets-accompanied-by-hundreds-of-performers-kandyan-drummers-whip-dancers-acrobats-and-fire-dancers-showcase-sri-lankas-rich-cultural-heritage-in-a-dazzling-display-the-city-transforms-into-a-stage-bathed-in-golden-lamplight-with-devotees-lining-the-route-and-offering-flowers-and-prayers-the-intoxicating-scent-of-incense-mingles-with-the-sweetness-of-betel-leaves-and-the-earthy-fragrance-of-rain-experience-the-esala-perahera-a-pilgrimage-a-celebration-and-a-vibrant-tapestry-of-sri-lankan-life-immerse-yourself-in-ancient-rituals-pulsating-rhythms-and-the-soul-of-a-nation-in-joyous-celebration-mark-your-calendar-for-august-and-let-the-magic-transport-you-7ch {
  width: 115.1rem;
  height: 54.4rem;
  position: absolute;
  left: 0.7rem;
  top: 17.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.36rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Lao Muang Don, 'Source Sans Pro';
}
.frame-12-Qf7 .auto-group-rkdj-1g9 .line-2-Yjw {
  width: 175rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 84.8rem;
  background-color: #000000;
}
.frame-12-Qf7 .auto-group-rkdj-1g9 .sl-tourismore-website-all-rights-reserved-snD {
  width: 52.7rem;
  height: 2.7rem;
  position: absolute;
  left: 61.15rem;
  top: 86.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
